[Unit]

Description=Dunst low battery notification service

After=dunst.service


[Service]

Type=simple

ExecStart=/bin/bash /home/dragneel/.config/dunst/notifications/bat0.sh

Restart=always

RestartSec=30

Environment="DISPLAY=:0" "XAUTHORITY=/home/dragneel/.Xauthority"


[Install]

WantedBy=default.target
